<div class="createproposal">
  <h2>Submit a proposal</h2>
  <form>
    <label>Talk length
      <select ng-model="proposal.duration">
        <option value="15" selected="true">15 min - Lightning talk</option>
        <option value="30">30 min - Short talk</option>
        <option value="60">60 min - Long talk</option>
      </select>
    </label>
    <label>Language
      <select ng-model="proposal.language">
        <option value="eng" selected="true">English</option>
        <option value="swe">Swedish</option>
        <option value="nor">Norwegian</option>
      </select>
    </label>
    <h3>Talk details</h3>
    <p>The abstract will be published on the website as soon as you submit it,
      and will be used by the organizers during talk selection.
      It is therefore important that you provide a detailed abstract.
      This will help us to select in the selection process and increase the
      chances of your talk being selected.
    </p>
    <label>Title
      <input type="text" ng-model="proposal.title" />
    </label>
    <label>Abstract</label>
    <textarea ui-tinymce="tinymceOptions" ng-model="proposal.abstract"></textarea>

    <div class="text-center" ng-if="!hideSubmit">
      <button class="submit-button" ng-click="submit()" ng-disabled="wait">Submit<span ng-if="wait">ting...</span></button>
    </div>
  </form>
</div>
