h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: 666666;
    font-weight: 100;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: 666666;
}
.rootcontainer {
    background-color: #ffffff;
    opacity: 0.75;
    height: 100%;
    min-height: 300px;
    width: 100%
}
p {
    font-family: Helvetica, Arial, sans-serif;
}