.talk-category-container {
    margin: 0;
    padding: 0;

    .separation-line {
        min-height: 2px;
        height: 2px;
        background-color: #666;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
.category-title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    padding-left: 8%;
    padding-bottom: 0px;
}
.talk-area {
    background-color: white;
    margin-bottom: 20px;
}
.talk-title {
    font-family: Helvetica, Arial, sans-serif;
    color: #249B87;
    font-weight: 100;
    margin: 2px 0px 0px 15px;
    padding: 0px;
    font-size: 22px;
}
.talk-speaker {
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 100;
    margin: 0px 0px 2px 15px;
    padding: 0px;
    font-style: italic;
}
.talk-slot {
    font-family: Helvetica, Arial, sans-serif;
    margin: 2px 0px 5px 15px;
    padding: 0px;
    font-size: 14px;
}
.talk-title-area {
    margin: 0px;
    padding: 0px;
    display: block;
    }
.talk-favourite {
  background-image: url("/assets/favourite_empty.svg");
  background-repeat: no-repeat;
  display: block;
  padding-top: 15px;
}
.talk-favourite-active {
  background-image: url("/assets/favourite_full.svg");
  background-repeat: no-repeat;
  display: block;
  padding-top: 15px;
}
