<div class="registeruser">
  <form class="form-group">
    <div class="row">
      <h2 class="col-xs-12">Register &amp; sign in</h2>
    </div>
    <div class="row" style="display:flex; align-items: flex-end;">
      <div class="col-xs-12 col-md-6">
        <label for="email">Email
          <input class="form-control col-xs-12" type="text" ng-model="user.email" />
        </label>
      </div>
      <div class="col-xs-12 col-md-6">
        <button class="submit-button" ng-click="submit()" ng-disabled="wait">Submit<span ng-if="wait">ting...</span></button>
      </div>
    </div>
  </form>
</div>
