<div class="registeruser">
  <form class="form-group">
    <h1>Registration</h1>
    <div class="row">
      <div class="col-xs-12 col-md-6" ng-repeat="item in form">
        <label for="{{item.id}}">{{item.label}}
        <input class="form-control col-xs-12" type="text" id="{{item.id}}", ng-model="user[item.id]" />
        </label>
      </div>


      <div class="col-xs-12 separation-line"></div>

      <label class="col-xs-12" for="dinner">
        <input type="checkbox" id="dinner" value="true" ng-model="user.dinner" />
  Will attend the dinner
      </label>
      <label class="col-xs-12" for="newsletter">
        <input type="checkbox" id="newsletter" value="true" ng-model="user.newsletter" />
        I want to subscribe to the newsletter
      </label>
      <div class="col-xs-12 col-md-6">
        <label for="requiresHotell">
          <input type="checkbox" id="requiresHotel" value="true" ng-model="user.requiresHotel" />
          I require a hotel room
        </label>
        <label for="canShareRoom">
          <input type="checkbox" id="canShareRoom" value="true" ng-model="user.canShareRoom" />
          I can share a hotel room
        </label>
        <label for="canShareRoomWith">
          I prefer to share room with
          <input type="text" id="canShareRoomWith" ng-model="user.canShareRoomWith" />
        </label>
      </div>
      <div class="col-xs-12 separation-line"></div>
    </div>
    <div class="row">
      <h3 class="col-xs-12">Additional information for statistical purposes</h3>
      <div class="additional-information">
      <label class="group-header">What role(s) do you have?</label>
      <label class="checkbox" ng-repeat="(k,v) in roles">
        <input type="checkbox" value="true", ng-model="roles[k]" />
        {{k}}
      </label>
      </div>
      <label class="col-xs-12" for="age">Age
        <input class="form-control" type="text" ng-model="user.age" />
      </label>
      <div class="gender-form">
        <label class="group-header">Gender</label>
        <label ng-repeat="g in gender">
          <input type="radio" ng-model="user.gender" value="{{g}}" />
          {{g}}
        </label>
      </div>

      <div class="col-xs-12 separation-line"></div>
      <div class="text-center">
        <button class="submit-button xs-col-12" ng-click="submit()" ng-disabled="wait">Submit<span ng-if="wait">ting...</span></button>
      </div>
    </div>
  </form>
</div>
