.additional-information {
    padding-left: 25px;
    margin-left: 25px;
}

.separation-line {
    width: 100%;
    min-height: 2px;
    height: 2px;
    background-color: black;
    opacity: 0.5;
    margin-top: 25px;
    margin-bottom: 25px;
}
.submit-button {
    font-size: 1.5em;
    color: white;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: #249B87;
    min-width: 20%;
    min-height: 50px;
    max-width: 100px;
    margin-left: 40%;
}

label {
    display: block;
}

.gender-form {
    padding-left: 15px;
    margin-left: 15px;
}